<div class="jumbotron">
  <h1>Welcome to Cloud Storage</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto at corporis, eum ex laudantium officiis quaerat quas reiciendis, repellendus soluta sunt totam, voluptates? In.</p>
  <a href="#" class="btn btn-lg btn-primary">Sign up now!</a>
</div>