<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @test_object.title %>
</p>

<%= link_to 'Edit', edit_test_object_path(@test_object) %> |
<%= link_to 'Back', test_objects_path %>
